.accordion-item {
  margin-bottom: 5px;
}

.accordion-title {
  cursor: pointer;
  background-color: #000213;
  padding: 6%;
  width: 15em;
  border: 1px solid #ccc;
}

.accordion-title:hover {
  background-color: #000000;
}

.accordion-content {
  width: 15em;
  border: 1px solid #ccc;
  background-color: #101c2c;
}
