@media (max-width: 767px) {
  .h1-title {
    font-size: 25px;
  }
  #root,
  .main-media,
  .div-main-home,
  html {
    max-width: 766px;
  }
  header {
    max-width: 766px;
  }
  .container1 {
    max-width: 766px;
    display: flex;
    flex-direction: column;
    gap: 5em;
  }
  .subcontainer2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
  }
  .subcontainer2 p {
    max-width: 400px;
  }
  .subcontainer {
    display: flex;
    flex-direction: column;
  }
  .subcontainer article {
    box-shadow: white 3px 3px 3px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .subcontainer article h4 {
    max-width: min-content;
    text-align: center;
  }
  .linguagens-competencias .subcontainer1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .linguagens-competencias .subcontainer1 .languages {
    height: auto;
    margin-top: -40px;
  }

  .HTML,
  .CSS,
  .javascript,
  .react,
  .bootstrap {
    display: flex;
    flex-direction: column;
  }

  .main-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
